%h1
  = t '.title'

= form_tag recover_password_path, :method => :get do
  .form-group
    = label_tag :token, t('.label_token')
    = text_field_tag :token
  .form-actions
    = submit_tag t( "common.button.send" ), :id => "password_token_button", :class => 'btn btn-primary'
