%h1
  = t '.title'

= form_for @password_forgotten_form, url: recover_password_path, method: :post do |f|
  = hidden_field_tag :token, @token

  = render :partial => "/lobby/common/form_errors", :locals => {:object => @password_forgotten_form}


  .form-group
    = f.label :new_password, t( '.label_new_password')
    = f.password_field :new_password, :class => 'form-control'
  .form-group
    = f.label :new_password_confirmation, t( '.label_new_password_confirmation')
    = f.password_field :new_password_confirmation, :class => 'form-control'
  .form-actions
    = f.submit t( 'common.button.send' ), :id => 'password_forgotten_form_button', :class => 'btn btn-primary'
